body {
	background-image: url(../assets/img/background.png);
	background-repeat: no-repeat;
	background-size: cover;
}
header svg {
	background-color: rgba(20, 130, 175, 1);
	padding: 10px;
	border-radius: 9px;
	height: 40px;
	width: auto;
}
.container {
	font-family: "Encode Sans Semi Condensed", sans-serif;
	margin-top: 30px;
	display: flex;
	color: rgba(0, 0, 0, 0.68);
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.fcel {
	background-color: rgba(20, 130, 175, 1);
	border-radius: 5px;
	width: 300px;
	height: 400px;
	padding: 10px 0px;
}
.inses {
	background-color: rgba(225, 241, 248, 1);
	border-radius: 5px;
	width: 280px;
	text-align: center;
	font-family: "Encode Sans Semi Condensed", sans-serif;
	font-size: 35px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
.inses p {
	margin: 10px 10px;
}
.form {
	background-color: rgba(225, 241, 248, 1);
	border-radius: 5px;
	width: 260px;
	height: 295px;
	padding: 20px 10px;
	margin: 0 auto;
	font-size: 15px;
}
.regis {
	text-align: center;
}
.links,
.form a {
	color: rgba(0, 0, 0, 0.68);
	text-align: left;
}
.bienvenida {
	color: rgba(0, 10, 101, 1);
	font-size: 50px;
	font-family: "Encode Sans Semi Condensed", sans-serif;
	font-weight: bolder;
	margin-left: 145px;
}
.bienvenida p {
	margin: 0;
	text-align: center;
}
footer {
	background-color: rgba(0, 10, 101, 1);
	padding: 30px;
	margin-top: 10px;
	color: white;
	text-align: center;
	font-size: 15px;
}
footer a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}
